* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    width: 90%;
}

header {
    padding: 30px 0;
    position: absolute;
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-wrapper .header-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-wrapper .header-menu ul li a {
    text-decoration: none;
    color: white;
}

.header-wrapper .mobile-icon {
    display: none;
}

.header-wrapper .mobile-icon button {
    border: none;
    background-color: unset;
    /* veya transparent */
}

.header-wrapper .mobile-icon button i {
    color: white;
    cursor: pointer;
    font-size: 20px;
}


@media (max-width:768px) {
    .header-wrapper .mobile-icon {
        display: block;
    }

    .header-wrapper .header-menu {
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 40px;
    }

    .header-wrapper .header-menu ul {
        flex-direction: column;
        background-color: red;
    }

      .header-wrapper .header-menu ul li{
        margin: 10px 0 5px 0;
    }
}


/* Home */

#Home {
    padding: 182px 0;
    background: radial-gradient(ellipse at center, rgba(31, 35, 39, 0.6) 0%, rgba(31, 35, 39, 0.9) 70%, rgba(31, 35, 39, 1) 100%), url("../img/Home.jpg");
}

#Home .home-context {
    max-width: 746px;
}

#Home .home-context .small-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: white;
}

#Home .home-context .big-title {
    font-size: 64px;
    font-weight: bold;
    line-height: 75px;
    color: white;
    margin-top: 5px;
}

#Home .home-context .text {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: white;
}

#Home .home-context .btn {
    margin-top: 30px;

}

#Home .home-context .btn button {
    margin-top: 30px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    border-radius: 40px;
    cursor: pointer;

    background-color: #E11B19;
}

#Home .home-context .btn button span {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: white;
}

#Home .home-context .btn button i {
    color: white;
    font-size: 16px;
}

/* Iconfeature */
#Iconfeature {
    background-color: #191C1F;
    padding: 60px 0;
}

#Iconfeature .Iconfeature-wrapper ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
}

#Iconfeature .Iconfeature-wrapper ul li {
    display: flex;
    justify-content: space-between;
}

#Iconfeature .Iconfeature-wrapper ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

#Iconfeature .Iconfeature-wrapper ul li .big-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
}

#Iconfeature .Iconfeature-wrapper ul li .small-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

@media (max-width:768px) {
    #Iconfeature .Iconfeature-wrapper ul {
      flex-direction: column;
    }

}