* {
    margin: 0;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    width: 90%;
}

header {
    padding: 30px 0;
    position: absolute;
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper .header-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-wrapper .header-menu ul li a {
    text-decoration: none;
    color: white;
}

.header-wrapper .mobile-icon {
    display: none;
}

.header-wrapper .mobile-icon button {
    border: none;
    background-color: unset;
    /* veya transparent */
}

.header-wrapper .mobile-icon button i {
    color: white;
    cursor: pointer;
    font-size: 20px;
}


@media (max-width:768px) {
    .header-wrapper .mobile-icon {
        display: block;
    }

    .header-wrapper .header-menu {
        display: none;
    }



}

/* Home */

#Home {
    padding: 182px 0;
   background: linear-gradient(rgba(31, 35, 39, 0.6), rgba(31, 35, 39, 0.9)), url("/assets/img/Home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Home .home-context {
    max-width: 746px;
}

#Home .home-context .small-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#Home .home-context .small-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: white;
}

#Home .home-context .big-title {
    font-size: 64px;
    font-weight: bold;
    line-height: 75px;
    color: white;
    margin-top: 5px;
}

#Home .home-context .text {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: white;
}

#Home .home-context .btn {
    margin-top: 30px;

}