/* =========================
   GLOBAL STYLES
========================= */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #473BF0;
    --white: #fff;
    --dark: #161C2D;
    --bg-dark: #161C2D;
    --green: #68D585;
    --bg-white: #F4F7FA;
    --bg-light: #ECF2F7;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

/* =========================
   HEADER STYLES
========================= */

.header {
    padding-top: 16px;
    background-color: var(--bg-dark);
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-left .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

.header .header-right {
    display: flex;
    align-items: center;
}

.header .header-right .menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.header .header-right .menu li {
    margin-right: 45px;
}

.header .header-right .menu li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.header .header-right .start-btn {
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
}


/* =========================
   Hero STYLES
========================= */

.hero {
    padding: 140px 0 180px 0;
    background-color: var(--bg-dark);
}

.hero .hero-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero .hero-left {
    max-width: 540px;
}

.hero .hero-left .title {
    font-size: 60px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 24px;
    line-height: 65px;
    letter-spacing: -2px;
}

.hero .hero-left .description {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 30px;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, .65);
}

.hero .hero-left .start-btn a {
    font-size: 21px;
    font-weight: 700;
    color: var(--green);
    text-decoration: none;
}

.hero .hero-left .start-btn span {
    display: inline-block;
    padding-right: 10px;
}

.hero .hero-right {
    max-width: 540px;
    position: relative;
}


.hero .hero-right img {
    display: block;
    width: 100%;
}

.hero .hero-right .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92px;
    height: 92px;
    border-radius: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* =========================
   BRAND STYLES
========================= */
.brand {
    padding: 65px 0;
    border-bottom: 1px solid #E6ECF1;
}


.brand .brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand .brand-card img {
    display: block;
    max-width: 100%;
}

/* =========================
   FEATURES STYLES
========================= */
.features {
    padding-top: 90px;
}

.features .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .features-item {
    display: flex;
    gap: 25px;
}

.features .features-item .content {
    max-width: 270px;
}

.features .features-item .content .title {
    font-size: 21px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #161C2D;
    margin-bottom: 15px;
}

.features .features-item .content .description {
    font-size: 17px;
    font-weight: 400;
    color: rgba(22, 28, 45, .70);
    line-height: 29px;
    letter-spacing: -0.2px;
}

/* =========================
   Advanced STYLES
========================= */
.advanced {
    padding: 130px 0 130px 0;
}

.advanced .advanced-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advanced .advanced-wrapper img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
    filter: drop-shadow(0px 31px 34px rgba(0, 0, 0, 0.0942963));
}

.advanced .advanced-wrapper .content {
    max-width: 435px;
}

.advanced .advanced-wrapper .content .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
    color: var(--dark);

}

.advanced .advanced-wrapper .content .description {
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-bottom: 35px;
    color: rgba(22, 28, 45, .70);

}

.advanced .advanced-wrapper .content .start-btn a {
    font-size: 21px;
    font-weight: 700;
    color: var(--primary);
    letter-spacing: -1.2px;
    text-decoration: none;
}

.advanced .advanced-wrapper .content .start-btn span {
    display: inline-block;
    padding-right: 10px;
}

/* =========================
   Analytics STYLES
========================= */

.analytics {
    padding: 0 0 130px 0;
}

.analytics .analytics-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analytics .analytics-wrapper img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
    filter: drop-shadow(0px 31px 34px rgba(0, 0, 0, 0.0942963));
}

.analytics .analytics-wrapper .content {
    max-width: 435px;
}

.analytics .analytics-wrapper .content .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
    color: var(--dark);

}

.analytics .analytics-wrapper .content .description {
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-bottom: 35px;
    color: rgba(22, 28, 45, .70);

}

.analytics .analytics-wrapper .content .start-btn a {
    font-size: 21px;
    font-weight: 700;
    color: var(--primary);
    letter-spacing: -1.2px;
    text-decoration: none;
}

.analytics .analytics-wrapper .content .start-btn span {
    display: inline-block;
    padding-right: 10px;
}

/* =========================
   Plan STYLES
========================= */

.plan {
    background-color: #ECF2F7;
    padding: 100px 0;
}

.plan .plan-title {
    text-align: center;
    margin-bottom: 40px;
}

.plan .plan-title .title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    font-weight: bold;
    margin-bottom: 15px;
}

.plan .plan-title .description {
    max-width: 590px;
    margin: 0 auto;
    color: rgba(22, 28, 45, .70);
    font-size: 17px;
    font-weight: 400;
}

.plan .plan-cards {
    display: flex;
    align-items: center;
    gap: 30px;
}

.plan .plan-card {
    background-color: white;
    padding: 35px 50px;
    border-radius: 8px;
}

.plan .plan-card .title {
    font-size: 13px;
    font-weight: 700;
    color: #473BF0;
    margin-bottom: 30px;
}

.plan .plan-card .price {
    margin-bottom: 40px;
    font-size: 24px;
    letter-spacing: -0.8px;
}

.plan .plan-card .price span {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
    font-weight: 700;
}

.plan .plan-card ul {
    list-style: none;
}

.plan .plan-card ul li {
    padding-bottom: 15px;
}

.plan .plan-card ul li span {
    font-size: 17px;
    font-weight: 400;
    color: var(--dark);
    letter-spacing: -0.2px;
    display: inline-block;
    padding-left: 10px;
}


.plan .plan-card .start-btn {
    margin-top: 15px;

}


.plan .plan-card .start-btn a {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 8px;
    background: rgba(71, 59, 240, .08);
    color: var(--primary);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.6px;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.plan .plan-card .start-btn a:hover {
    background: var(--primary);
    color: var(--white);
}

.plan .plan-card .start-btn a:hover svg path {
    stroke: var(--white);
}

.plan .plan-card .start-btn a span {
    display: inline-block;
    padding-right: 15px;
}

.plan .plan-card .start-btn a svg path {
    transition: all .2s ease-in-out;
}

.plan .plan-card .footer-description {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(22, 28, 45, .70);

}


/* =========================
   Comment STYLES
========================= */

.comment {
    background-color: #ECF2F7;
    padding: 50px 0 130px 0;
}

.comment .comment-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment .comment-item {
    max-width: 500px;
}

.comment .description {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 34px;
    margin-bottom: 20px;
}

.comment .title {
    font-size: 17px;
    color: rgba(22, 28, 45, .70);
    font-weight: 500;
}


/* =========================
   Footer STYLES
========================= */

.footer {

    background-color: #161C2D;

}

.footer .footer-top {
    display: flex;
    gap: 45px;
    margin-bottom: 50px;
    padding: 120px 0 90px 0;
}


.footer .footer-top .footer-item .title {
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, .65);
    margin-bottom: 20px;
}

.footer .footer-top .footer-item ul {
    list-style: none;
}

.footer .footer-top .footer-item ul li {
    padding-bottom: 15px;
}

.footer .footer-top .footer-item ul li:last-child {
    padding-bottom: 0;
}

.footer .footer-top .footer-item ul li a {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}


.footer .footer-bottom {
    padding: 30px 0;
    border-top: 1px solid #292F41;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-bottom .text {
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, .65);
}

.footer .footer-bottom ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer .footer-bottom li a {
    text-decoration: none;
}

.footer .footer-bottom a:hover svg path,
.footer .footer-bottom a:hover svg circle  {
    fill:var(--primary);
}