/* =========================
   GLOBAL STYLES
========================= */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #473BF0;
    --white: #fff;
    --dark: #161C2D;
    --bg-dark: #161C2D;
    --green: #68D585;
    --bg-white: #F4F7FA;
    --bg-light: #ECF2F7;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

@media (max-width:1199px) {
    .container {
        padding: 0 20px;
    }

}

/* =========================
   HEADER STYLES
========================= */

.header {
    padding-top: 16px;
    background-color: var(--bg-dark);
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-left .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

.header .header-right {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header .header-right .menu {
    display: flex;
    align-items: center;
    gap: 45px;
    list-style: none;
}


.header .header-right .menu a {
    text-decoration: none;
    font-size: 15px;
    color: var(--white);
}

.header .header-right .start-btn {
    text-decoration: none;
    background-color: var(--primary);
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
}

.header .mobile-btn {
    color: white;
    display: none;
}

@media screen and (max-width:768px) {
    .header .header-right {
        display: none;
    }

    .header .mobile-btn {
        display: block;
    }
}


/* =========================
   Hero STYLES
========================= */

.hero {
    padding-top: 140px;
    padding-bottom: 180px;
    background-color: var(--bg-dark);
}

.hero .hero-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

}

.hero .hero-left {
    max-width: 540px;
}

.hero .hero-left .title {
    font-size: 60px;
    font-weight: 700;
    color: var(--white);
    line-height: 65px;
    letter-spacing: -2px;
    margin-bottom: 24px;
}

.hero .hero-left .description {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, .65);
    margin-bottom: 30px;
}

.hero .hero-left .start-btn a {
    font-size: 21px;
    font-weight: 700;
    color: var(--green);
    text-decoration: none;
}

.hero .hero-left .start-btn span {
    display: inline-block;
    padding-right: 10px;
}


.hero .hero-right {
    flex: 1;
    position: relative;
}

.hero .hero-right img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.hero .hero-right .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 92px;
    height: 92px;
    border-radius: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .hero {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .hero .hero-wrapper {
        flex-direction: column;
    }

    .hero .hero-left .title {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .hero .hero-left .description {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 15px;
    }

    .hero .hero-left .start-btn a {
        font-size: 15px;
    }
}


/* =========================
   Brand STYLES
========================= */

.brand {
    padding: 65px 0;
    border-bottom: 1px solid #E6ECF1;
}

.brand .brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand .brand-item img {
    display: block;
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .brand {
        overflow-x: auto;
    }

    .brand .brand-wrapper {
        min-width: 1200px;
        padding-right: 20px;
    }

}

/* =========================
   Features STYLES
========================= */

.features {
    padding-top: 90px;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .features-item {
    display: flex;
    gap: 25px;
}

.features .features-item .content {
    max-width: 270px;
}

.features .features-item .content .title {
    font-size: 21px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #161C2D;
    margin-bottom: 15px;
}

.features .features-item .content .description {
    font-size: 17px;
    font-weight: 400;
    color: rgba(22, 28, 45, .70);
    line-height: 29px;
    letter-spacing: -0.2px;

}


@media screen and (max-width:768px) {
    .features {
        padding-top: 70px;
    }

    .features .features-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}



/* =========================
   Advanced STYLES
========================= */

.advanced {
    padding-top: 130px;
}

.advanced .advanced-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advanced .advanced-left img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
    filter: drop-shadow(0px 31px 34px rgba(0, 0, 0, 0.0942963));
}


.advanced .advanced-right {
    max-width: 435px;
}


.advanced .advanced-right .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
    color: var(--dark);
}

.advanced .advanced-right .description {
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-bottom: 35px;
    color: rgba(22, 28, 45, .70);
}

.advanced .advanced-right .start-btn {
    font-size: 21px;
    font-weight: 700;
    color: var(--primary);
    letter-spacing: -1.2px;
    text-decoration: none;
}

.advanced .advanced-right .start-btn span {
    display: inline-block;
    padding-right: 10px;
}


@media screen and (max-width:768px) {
    .advanced {
        padding-top: 70px;
    }

    .advanced .advanced-wrapper {
        flex-direction: column;
        gap: 35px;
        align-items: flex-start;
    }

    .advanced .advanced-right .title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .advanced .advanced-right .description {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 15px;

    }

    .advanced .advanced-right .start-btn {
        font-size: 18px;
    }
}


/* =========================
   analytics STYLES
========================= */

.analytics {
    padding-top: 130px;
    padding-bottom: 130px;
}

.analytics .analytics-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analytics .analytics-left {
    max-width: 440px;
}

.analytics .analytics-left .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
    color: var(--dark);
}

.analytics .analytics-left .description {
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-bottom: 35px;
    color: rgba(22, 28, 45, .70);

}

.analytics .analytics-left a {
    font-size: 21px;
    font-weight: 700;
    color: var(--primary);
    letter-spacing: -1.2px;
    text-decoration: none;
}

.analytics .analytics-left .start-btn span {
    display: inline-block;
    padding-right: 10px;
}

.analytics .analytics-right img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
    filter: drop-shadow(0px 31px 34px rgba(0, 0, 0, 0.0942963));
}


@media screen and (max-width:768px) {
    .analytics {
        padding-top: 70px;
        padding-bottom: 70px;

    }

    .analytics .analytics-wrapper {
        flex-direction: column-reverse;
        gap: 35px;
        align-items: flex-start;
    }

    .analytics .analytics-left .title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .analytics .analytics-left .description {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 15px;

    }

    .analytics .analytics-left .start-btn {
        font-size: 18px;
    }
}

/* =========================
   plan STYLES
========================= */


.plan {
    padding: 100px 0;
    background-color: #ECF2F7;
}

.plan .plan-header {
    margin-bottom: 40px;
    text-align: center;
}

.plan .plan-header .title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    font-weight: bold;
    margin-bottom: 15px;
}

.plan .plan-header .description {
    max-width: 590px;
    margin: 0 auto;
    color: rgba(22, 28, 45, .70);
    font-size: 17px;
    font-weight: 400;
}


.plan .plan-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan .plan-item {
    background-color: white;
    padding: 35px 50px;
    border-radius: 10px;
}

.plan .plan-item .item-title {
    font-size: 13px;
    font-weight: 700;
    color: #473BF0;
    margin-bottom: 30px;
}

.plan .plan-item .item-price {
    margin-bottom: 40px;
    font-size: 24px;
    letter-spacing: -0.8px;
}

.plan .plan-item .item-price span {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
    font-weight: 700;
}

.plan .plan-item ul {
    list-style: none;
}

.plan .plan-item ul li {
    padding-bottom: 15px;
}

.plan .plan-item ul li span {
    font-size: 17px;
    font-weight: 400;
    color: var(--dark);
    letter-spacing: -0.2px;
    display: inline-block;
    padding-left: 10px;
}



.plan .plan-item .start-btn {
    margin-top: 15px;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 8px;
    background: rgba(71, 59, 240, .08);
    color: var(--primary);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.6px;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.plan .plan-item .start-btn span {
    display: inline-block;
    padding-right: 15px;
}

.plan .plan-item a:hover {
    background: var(--primary);
    color: var(--white);
}

.plan .plan-item a:hover svg path {
    stroke: var(--white);
}

.plan .plan-item .item-footer {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(22, 28, 45, .70);
}


@media screen and (max-width:768px) {

    .plan {
        padding: 70px 0 100px 0;
        background-color: #ECF2F7;
    }

    .plan .plan-header .title {
        font-size: 30px;
        line-height: 42px;
    }

    .plan .plan-header .description {
        font-size: 15px;
        line-height: 27px;
    }

    .plan .plan-items {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .plan .plan-item ul li span {
        font-size: 16px;
    }

}


/* =========================
   Comment STYLES
========================= */

.comment {
    background-color: #ECF2F7;
    padding: 50px 0 130px 0;
}

.comment .comment-wrapper {
    display: flex;
    gap: 110px;
    align-items: center;
}

.comment .comment-wrapper .comment-item {
    flex: 1;
}

.comment .comment-wrapper .comment-item .description {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 34px;
    margin-bottom: 20px;
}

.comment .comment-wrapper .comment-item .title {
    font-size: 17px;
    color: rgba(22, 28, 45, .70);
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .comment {
        background-color: #ECF2F7;
        padding: 0px 0 70px 0;
    }

    .comment .comment-wrapper {
        flex-direction: column;
        gap: 35px;
    }

    .comment .comment-wrapper .comment-item .description {
        font-size: 18px;
        line-height: 25px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: 15px;

    }

    .comment .comment-wrapper .comment-item .title {
        font-size: 15px;
    }
}


/* =========================
   Footer STYLES
========================= */
.footer {
    background-color: #161C2D;
    color: white;
}


.footer .footer-header {
    display: flex;
    padding: 120px 0 140px 0;
    gap: 45px;
}

.footer .footer-header .title {
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, .65);
    margin-bottom: 20px;
}

.footer .footer-header ul {
    list-style: none;
}

.footer .footer-header ul li {
    padding-bottom: 15px;
}


.footer .footer-header ul li:last-child {
    padding-bottom: 0px;
}

.footer .footer-header ul li a {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}

@media screen and (max-width:768px) {

    .footer .footer-header {
        padding: 70px 0;
        flex-wrap: wrap;
    }
}


.footer .footer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid #292F41;

}

.footer .footer-footer .title {
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, .65);
}

.footer .footer-footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width:768px) {

    .footer .footer-footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 20px 0;
    }
}