* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #473BF0;
    --gray: #ffffffa6;
    --white: #fff;
    --dark: #161C2D;
    --bg-dark: #161C2D;
    --green: #68D585;
    --bg-white: #F4F7FA;
    --bg-light: #ECF2F7;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Header */
header #header {
    padding: 32px 0;
    background-color: var(--bg-dark);
}

header #header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header #header .header-wrapper .header-title h1 a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
}


header #header .header-wrapper .header-navbar {
    display: flex;
    align-items: center;
    gap: 48px;
}

header #header .header-wrapper .header-navbar ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

header #header .header-wrapper .header-navbar ul li a {
    text-decoration: none;
    font-size: 15px;
    color: var(--white);

}

header #header .header-wrapper .header-navbar .btn {
    text-decoration: none;
    background-color: var(--primary);
    font-weight: 700;
    color: var(--bg-white);
    padding: 12px 24px;
    display: inline-block;
    border-radius: 8px;
}

/* topContent */

main #topContent {
    padding: 140px 0;
    background-color: var(--bg-dark);
}

main #topContent .topContent-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main #topContent .topContent-wrapper .topContent-description .topContent-title {
    color: var(--white);
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2px;
}

main #topContent .topContent-wrapper .topContent-description .topContent-text {
    color: var(--gray);
    font-size: 17px;
    margin-top: 24px;
    line-height: 30px;
    letter-spacing: -0.2px;
    font-weight: 400;

}


main #topContent .topContent-wrapper .topContent-description .topContent-btn a {
    text-decoration: none;
    margin-top: 30px;
    color: var(--green);
    font-size: 21px;

    display: flex;
    align-items: center;
    gap: 10px;

}


main #topContent .topContent-wrapper .topcontent-img {
    position: relative;
}

main #topContent .topContent-wrapper .topcontent-img img {
    border-radius: 8px;
}


main #topContent .topContent-wrapper .topcontent-img #play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 92px;
    height: 92px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--white);
    cursor: pointer;
    color: var(--primary);
}

/* brand */

main #brand {
    padding: 90px 0;
    border-bottom: 1px solid #e6ecf1;
    background-color: var(--bg-white);
}

main #brand .brand-wrapper {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}



main #brand .brand-wrapper img:hover {
    background-color: var(--green);
    padding: 2px 0;
}

/* info */

main #info {
    padding: 60px 0 100px 0;
    background-color: var(--bg-white);
}

main #info .info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

main #info .info-wrapper .info-card {
    display: flex;
    gap: 25px;
    align-items: start;

}

main #info .info-wrapper .info-card .info-img span i {
    margin-top: 7px;
    color: var(--primary);
    font-size: 32px;
}


main #info .info-wrapper .info-card .info-text .info-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--dark);
    margin-bottom: 15px;
}

main #info .info-wrapper .info-card .info-text .info-description {
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.2px;
    color: #161c2db3;
}

/* Advanced */
main #advanced {
    padding: 65px 0 130px 0;
    background-color: var(--bg-white);
}

main #advanced .advanced-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

main #advanced .advanced-wrapper .advanced-img img {
    border-radius: 8px;
}

main #advanced .advanced-wrapper .advanced-context .title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1.2px;
    line-height: 48px;
    margin-bottom: 20px;

}

main #advanced .advanced-wrapper .advanced-context .description {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 28px;
    margin-bottom: 35px;
    color: #161c2db3;
}



main #advanced .advanced-wrapper .advanced-context .btn a {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
}

main #advanced .advanced-wrapper .advanced-context .btn a span {
    color: var(--primary);
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 32px;
}

main #advanced .advanced-wrapper .advanced-context .btn i {
    color: var(--primary);
    font-size: 22px;
}



/* feature */
main #feature {
    padding: 65px 0 130px 0;
    background-color: var(--bg-white);
}

main #feature .feature-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

main #feature .feature-wrapper .feature-img img {
    border-radius: 8px;
    filter: drop-shadow(0px 31px 34px rgba(0, 0, 0, 0.0942963));
}

main #feature .feature-wrapper .feature-context .title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1.2px;
    line-height: 48px;
    margin-bottom: 20px;

}

main #feature .feature-wrapper .feature-context .description {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 28px;
    margin-bottom: 35px;
    color: #161c2db3;
}



main #feature .feature-wrapper .feature-context .btn a {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
}

main #feature .feature-wrapper .feature-context .btn a span {
    color: var(--primary);
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 32px;
}

main #feature .feature-wrapper .feature-context .btn i {
    color: var(--primary);
    font-size: 22px;
}




/* Price */
main #price {
    padding: 100px 0 150px 0;
    background-color: var(--bg-light);
}

main #price .price-content {
    text-align: center;
    margin-bottom: 40px;
}

main #price .price-content .title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1.2px;
    line-height: 48px;
    margin-bottom: 15px;
}

main #price .price-content .description {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 32px;
    margin-bottom: 50px;
    color: #161c2db3;
    max-width: 690px;
    display: inline-block;
}

main #price .price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

main #price .price-wrapper .price-card {
    background-color: white;
    padding: 20px 40px;
}

main #price .price-wrapper .price-card {
    background-color: white;
    padding: 35px 50px;
    border-radius: 8px;
}

main #price .price-wrapper .price-card .title {
    color: var(--primary);
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.63px;
    letter-spacing: -0.2px;
}

main #price .price-wrapper .price-card .price {
    margin-bottom: 20px;
}

main #price .price-wrapper .price-card .price span {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -0.2px;
}


main #price .price-wrapper .price-card .list ul {
    list-style: none;
    margin-bottom: 30px;
}

main #price .price-wrapper .price-card .list ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

main #price .price-wrapper .price-card .list ul li.cancel span i {
    color: #161C2D;
}

main #price .price-wrapper .price-card .list ul li span i {
    color: var(--green);
}


main #price .price-wrapper .price-card .btn {
    margin-bottom: 10px;
}

main #price .price-wrapper .price-card .btn a {
    text-decoration: none;
    background-color: rgba(71, 59, 240, .08);
    color: var(--primary);
    display: inline-block;
    letter-spacing: -0.6px;
    line-height: 32px;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 8px;
}

main #price .price-wrapper .price-card .btn a:hover {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--bg-white);
    display: inline-block;
    padding: 12px 24px;
    transition: all .8s ease;
}

main #price .price-wrapper .price-card .btn a i {
    margin-left: 15px;
}


main #price .price-wrapper .price-card .btn a.active {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--bg-white);
    display: inline-block;
    padding: 12px 24px;
}

main #price .price-wrapper .price-card .footer p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.1px;
    color: #161c2db3;
    text-align: center;

}


/* Comment */

main #comment {
    padding: 65px 0;
    background-color: var(--bg-light);
}

main #comment .comment-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

main #comment .comment-wrapper .card .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

}

main #comment .comment-wrapper .card .name {
    font-size: 17px;

}

/* Footer */

/* Footer - header*/

footer #footer-header {
    padding: 30px 0 0 0;
    background-color: var(--bg-dark);
}

footer #footer-header .footer-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #footer-header .footer-header-wrapper .card .title {
    color: var(--gray);
    font-size: 18px;
    margin-bottom: 16px;
}

footer #footer-header .footer-header-wrapper .card ul {
    list-style: none;
}

footer #footer-header .footer-header-wrapper .card ul li {
    margin-bottom: 8px;
}

footer #footer-header .footer-header-wrapper .card ul li a {
    color: var(--white);
    text-decoration: none;
}

/* Footer - footer*/
footer #footer-footer {
    padding: 30px 0;
    background-color: var(--bg-dark);
}

footer #footer-footer .footer-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--bg-light);
    padding: 20px 0;

}

footer #footer-footer .footer-footer-wrapper .title {
    color: var(--bg-white)
}

footer #footer-footer .footer-footer-wrapper ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

footer #footer-footer .footer-footer-wrapper ul li a {
    text-decoration: none;
    color: var(--bg-white);
}