* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #473BF0;
    --gray: #ffffffa6;
    --white: #fff;
    --dark: #161C2D;
    --bg-dark: #161C2D;
    --green: #68D585;
    --bg-white: #F4F7FA;
    --bg-light: #ECF2F7;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Header */
header #header {
    padding: 16px 0;
    background-color: var(--bg-dark);
}

header #header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header #header .header-wrapper .header-title h1 a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
}


header #header .header-wrapper .header-navbar {
    display: flex;
    align-items: center;
    gap: 48px;
}

header #header .header-wrapper .header-navbar ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

header #header .header-wrapper .header-navbar ul li a {
    text-decoration: none;
    font-size: 15px;
    color: var(--white);

}

header #header .header-wrapper .header-navbar .btn {
    text-decoration: none;
    background-color: var(--primary);
    font-weight: 700;
    color: var(--bg-white);
    padding: 12px 24px;
    display: inline-block;
    border-radius: 8px;
}

/* topContent */

main #topContent {
    padding: 140px 0;
    background-color: var(--bg-dark);
}

main #topContent .topContent-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main #topContent .topContent-wrapper .topContent-description .topContent-title {
    color: var(--white);
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2px;
}

main #topContent .topContent-wrapper .topContent-description .topContent-text {
    color: var(--gray);
    font-size: 17px;
    margin-top: 24px;
    line-height: 30px;
    letter-spacing: -0.2px;
    font-weight: 400;

}


main #topContent .topContent-wrapper .topContent-description .topContent-btn a {
    text-decoration: none;
    margin-top: 30px;
    color: var(--green);
    font-size: 21px;

    display: flex;
    align-items: center;
    gap: 10px;

}


main #topContent .topContent-wrapper .topcontent-img {
    position: relative;
}

main #topContent .topContent-wrapper .topcontent-img img {
    border-radius: 8px;
}


main #topContent .topContent-wrapper .topcontent-img #play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 92px;
    height: 92px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--white);
    cursor: pointer;
    color: var(--primary);
}

/* brand */

main #brand {
    padding: 90px 0;
    border-bottom: 1px solid #e6ecf1;
    background-color: var(--bg-white);
}

main #brand .brand-wrapper{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}



main #brand .brand-wrapper img:hover{
    background-color: var(--green);
    padding: 5px 0;
}

/* info */

main #info {
  padding: 65px 0;
  background-color: var(--bg-white);
}

main #info .info-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

main #info .info-wrapper .info-card{
   display: flex;
   gap: 25px;
   align-items: start;
   
}

main #info .info-wrapper .info-card .info-img span i{
   margin-top: 7px;
   color: var(--primary);
   font-size: 32px;
}


main #info .info-wrapper .info-card .info-text .info-title{
   font-size: 21px;
   font-weight: bold;
   line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--dark);
    margin-bottom: 15px;
}

main #info .info-wrapper .info-card .info-text .info-description{
   font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.2px;
    color: #161c2db3;
}